<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<h1>Bonjour {{ user.firstname }}</h1>

<div>
 Vous avez demandé une suppression de compte, la requête a été envoyé à l'équipe d'administration et votre profil sera effacé dans les prochaines 24h
</div>

</body>
</html>